<!DOCTYPE html>
<html
	lang="ko"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="fragments/head"></th:block>
	<link rel="stylesheet" href="/css/main.css"/>
	
	<style>
		#NavbarCollapse {
			width: 50%;
			height: 40%;
			position: absolute;
			right: 30px;
			z-index: 1;
			overflow: auto;
		}
		#NavbarCollapse div{
			background-color: lightgray;
		}
		#NavbarCollapse div a{
			position: relative;
		}
		.nav-header {
			text-align: center;
		}
	</style>
</head>

<body>
	<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">

		<th:block th:include="fragments/header"></th:block>

		<div class="app-main">

			<th:block th:include="fragments/sidebar"></th:block>
		
			<div class="app-main__outer">
				<div class="app-main__inner">
					<div class="row">
						<div class="col-md-12">
							<div class="main-card mb-3 card">
								<div class="card-body">
								
								
									<div class="connecting">
										Connecting...
									</div>
									<div>
										<div class="card-header">
	                                        <div class="chat-header">
	                                        <h2 style="display:inline;"><span th:text="${chatroom.name}"></span></h2>
	                                        <h2 style="float:right;"><a role="button" data-toggle="collapse" data-target="#NavbarCollapse" class="nav-link navbar-toggler hidden-md-up"><i class="pe-7s-menu"></i></a></h2>
	                                        </div>
	                                    </div>
	                                    <div class="card-body">
	                                        <div class="scroll-area-lg">
	                                        	<div class="collapse navbar-toggleable-sm hidden-md-up col-xs-12" id="NavbarCollapse">
	                                        		<div class="nav-item nav-header"> 대화방 이름 변경 </div>
	                                        		<div class="nav-item nav-header"> 대화 상대 초대 </div>
	                                        		<div class="nav-item nav-header"> 대화 상대 </div>
													<div class="nav-item usersDiv" th:each="user : ${users}">
														<span th:text="${user.name}" ></span>
														<a th:if="${roomLeader}" th:href="'javascript:userkick(\'' + ${user.id} + '\')'"> &#x2716; </a>
													</div>
													<div class="nav-item nav-header"> 채팅 금지 </div>
						                        </div>
	                                            <div class="scrollbar-container ps--active-y">
	                                            <p id="messageArea" style="overflow-y:hidden;"></p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="d-block text-right card-footer">
	                                    	<form id="messageForm" name="messageForm" th:object="${chatroom}" method="post">
		                                        <div class="input-group clearfix">
													<input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
													<button type="submit" class="btn btn-success btn-lg">Send</button>
												</div>
	                                    	</form>
	                                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script th:inline="javascript">//<![CDATA[
		'use strict';
		
		var socket = null;
		//server 소켓의 endpoint인 /ws로 접속할 클라이언트  소켓 생성.
		var stompClient = null;
		var name = null;
		
		var connectingElement = document.querySelector(".connecting");
		var messageInput = document.querySelector("#message");
		 
		var currentRoomId = /*[[${chatroom.id}]]*/;
		// if (currentRoomId==null) currentRoomId = 0;
		var currentRoom = /*[[${chatroom}]]*/;
		var sessionUser = /*[[${user}]]*/;
		var messages = /*[[${messages}]]*/;
		var chatrooms = sessionUser.chatrooms;
		
		// DB에서 Message 읽어오기.
		$( document ).ready(function() {
	    	messages.forEach(function(element){
	    		var messageElement = document.createElement('li');
	    		if(message.type === 'JOIN') {
			        messageElement.classList.add('event-message');
			        element.contents = element.user.name + ' joined!';
			    } else if (message.type === 'LEAVE') {
			        messageElement.classList.add('event-message');
			        element.contents = element.user.name + ' left!';
			    } else {
			        messageElement.classList.add('chat-message');
	
			        var avatarElement = document.createElement('i');
			        var avatarText = document.createTextNode(element.user.name[0]);
			        avatarElement.appendChild(avatarText);
			        avatarElement.style['background-color'] = getAvatarColor(element.user.name);
			        // 아이콘 만들기
	
			        messageElement.appendChild(avatarElement);
	
			        var usernameElement = document.createElement('span');
			        var usernameText = document.createTextNode(element.user.name);
			        
			        var dateText = document.createElement('span');
			        var dateText = document.createTextNode("   " + element.chatTime.monthValue + "월 " + element.chatTime.dayOfMonth + "일 " + element.chatTime.hour + "시 " + element.chatTime.minute + "분");
			        
			        usernameElement.appendChild(usernameText);
			        messageElement.appendChild(usernameElement);
			        messageElement.appendChild(dateText);
			        // username 띄우기
			    }
		    
		    
		    
			    var textElement = document.createElement('p');
			    var messageText = document.createTextNode(element.contents);
			    textElement.appendChild(messageText);
			    // 메시지 내용 띄우기
	
			    messageElement.appendChild(textElement);
	
			    messageArea.appendChild(messageElement);
			    
			    // 추가하고, 스크롤 제일 밑으로 내리기
	    	});
	    	messageArea.scrollTop = messageArea.scrollHeight;
	    	
	    	$('#btnexit').click(function(){
		    	$('#messageForm').append("<input type='hidden' id='putOrDelete' name='_method' value='DELETE'/>");
		    	$('#messageForm').action="/chattings";
		    	$('#messageForm').submit();
		    });
		});
		
		if(sessionUser){
			name = sessionUser.name;
			var socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);
			connectingElement.classList.add('hidden');
			stompClient.connect({}, onConnected, onError);
		}

		var colors = [
		    '#2196F3', '#32c787', '#00BCD4', '#ff5652',
		    '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
		];
		
		function connect(event) {
			stompClient.connect({}, onConnected, onError);
			event.preventDefault();
		}


		function onConnected() {
			chatrooms.forEach(function(element) {
				stompClient.subscribe('/topic/' + element.id, onMessageReceived);
			});
			connectingElement.classList.add('hidden');
		}

		function onError(error) {
			connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
		    connectingElement.style.color = 'red';
		}
		
		function sendMessage(event) {
		    var messageContent = messageInput.value.trim();
		    
		    if(messageContent && stompClient) {
		        var chatMessage = {
		        	senderId: sessionUser.id,
		            sender: name,
		            content: messageInput.value,
		            type: 'CHAT',
		            roomId: currentRoomId
		        };
		        stompClient.send("/app/chat.sendMessage/" + currentRoomId, {}, JSON.stringify(chatMessage));
		        messageInput.value = '';
		    }
		    
		    event.preventDefault();
		}


		function onMessageReceived(payload) {
			// 받은 메시지를 해석해서 메시지 창에 나오는 HTML 소스 추가
		    var message = JSON.parse(payload.body);

		    var messageElement = document.createElement('li');
		    
		    
		    if(currentRoomId == message.roomId) {
		    	
			    if(message.type === 'JOIN') {
			        messageElement.classList.add('event-message');
			        message.content = element.contents + ' joined!';
			    } else if (message.type === 'LEAVE') {
			        messageElement.classList.add('event-message');
			        message.content = message.sender + ' left!';
			    } else if (message.type === 'KICK') {
			    	messageElement.classList.add('event-message');
			    	message.content = message.deleteUserName + ' 님이 추방당했습니다.';
			    	if(message.deleteUserId === sessionUser.id) {
			    		location.href="/chattings";
			    		alert("추방당하셨습니다.")
			    	} else {
			    		$('.usersDiv').html("");
			    		var i=0;
		               	message.leftUsers.forEach(function(element) {
		               		
		               		$('.usersDiv').eq(i).append('<span>' + element.name + '</span><a href="javascript:userkick(\'' + element.id + '\')">X</a>');
		               		i++;
	               		});
		               	$('.usersDiv').last().remove();
			    	}
			    } else {
			        messageElement.classList.add('chat-message');
	
			        var avatarElement = document.createElement('i');
			        var avatarText = document.createTextNode(message.sender[0]);
			        avatarElement.appendChild(avatarText);
			        avatarElement.style['background-color'] = getAvatarColor(message.sender);
			        // 아이콘 만들기
	
			        messageElement.appendChild(avatarElement);
	
			        var usernameElement = document.createElement('span');
			        var dateElement = document.createElement('span');
			        // var usernameText = document.createTextNode(message.sender);
			        var nowDate = new Date();
			        var usernameText = document.createTextNode(message.sender + "   ");
			        var dateText = document.createTextNode(nowDate.getMonth() +1 + "월 " + nowDate.getDate() + "일 " + nowDate.getHours() + "시 " + nowDate.getMinutes() + "분");
			        usernameElement.appendChild(usernameText);
			        dateElement.appendChild(dateText);
			        messageElement.appendChild(usernameElement);
			        // username 띄우기
			        messageElement.appendChild(dateText);
			    }
			    	
		    
		    var textElement = document.createElement('p');
		    var messageText = document.createTextNode(message.content);
		    textElement.appendChild(messageText);
		    // 메시지 내용 띄우기

		    messageElement.appendChild(textElement);

		    messageArea.appendChild(messageElement);
		    messageArea.scrollTop = messageArea.scrollHeight;
		    // 추가하고, 스크롤 제일 밑으로 내리기
		    } else {
		    	toast(message.sender, message.content, message.roomName);
		    }
		}
		
		function  toast(messageSender, messageContent, chatroomname){
            var messageinfo = chatroomname + "방의 " + messageSender + "님";
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000
            };
            toastr.success(messageContent, messageinfo);
        }

		function getAvatarColor(messageSender) {
		    var hash = 0;
		    for (var i = 0; i < messageSender.length; i++) {
		        hash = 31 * hash + messageSender.charCodeAt(i);
		    }
		    var index = Math.abs(hash % colors.length);
		    return colors[index];
		    // 아바타 색 랜덤 지정
		}
		
		function exit() {
			form.action="/chattings";
			form.setAttribute('method', 'delete');
			form.submit();
		}

		function formatDate(date) {
			return 
			date.getHours() + '시 ' + 
			date.getMinutes() + '분';
		}
		
		function userkick(userId) {
			// var messageContent = messageInput.value.trim();
		    
		    if(stompClient) {
		        var chatMessage = {
		        	senderId: sessionUser.id,
		            sender: name,
		            type: 'KICK',
		            roomId: currentRoomId,
		            deleteUserId: userId
		        };
		        stompClient.send("/app/chat.deleteUser/" + currentRoomId, {}, JSON.stringify(chatMessage));
		    }
		    
		}
		
		var messageForm = document.querySelector('#messageForm');
		messageForm.addEventListener('submit', sendMessage, true) 
		//]]></script>
		
<script type="text/javascript" src="/assets/scripts/main.js"></script>
<script src="/js/user.js"></script>
<script src="/js/chatroom.js"></script>
<script>
	document.title = "채팅방" ;
</script>
</body> 
</html>
