<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <title>TitleName</title>
    
    <link rel="stylesheet" href="/css/main.css" />	
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/sockjs.min.js"></script>
	<script src="/js/stomp.min.js"></script>
	<script src="/js/cookie.js"></script>
	<script src="/js/main.js"></script>
	
	
	<!--
	
		connectingElement 가 null로 인식되는 이유
		document.ready를 사용해서 DB의 Message 읽고 반영하기
		
	 -->
		
	
	
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="contents-page">
	<div class="chat-container">
	    <div class="chat-header">
	        <h2>채팅방이름</h2>
	    </div>
	    <div class="connecting">
	        Connecting...
	    </div>
	    <ul id="messageArea">
	
	    </ul>
	    <form id="messageForm" name="messageForm" nameForm="messageForm">
	        <div class="form-group">
	            <div class="input-group clearfix">
	                <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
	                <button type="submit" class="primary">Send</button>
	            </div>
	        </div>
	    </form>
	</div>
	
	
</div>

<script th:inline="javascript">//<![CDATA[
		'use strict';
		
		var socket = null;
		//server 소켓의 endpoint인 /ws로 접속할 클라이언트  소켓 생성.
		var stompClient = null;
		var name = null;
		
		var connectingElement = document.querySelector(".connecting");
		var messageInput = document.querySelector("#message");
		 
		var currentRoomId = /*[[${currentRoomId}]]*/;
		var sessionUser = /*[[${user}]]*/;
		var messages = /*[[${messages}]]*/;
		var chatrooms = sessionUser.chatrooms;
		
		$( document ).ready(function() {
	    	messages.forEach(function(element){
	    		var messageElement = document.createElement('li');
	    		if(message.type === 'JOIN') {
			        messageElement.classList.add('event-message');
			        element.contents = element.user.name + ' joined!';
			    } else if (message.type === 'LEAVE') {
			        messageElement.classList.add('event-message');
			        element.contents = element.user.name + ' left!';
			    } else {
			        messageElement.classList.add('chat-message');
	
			        var avatarElement = document.createElement('i');
			        var avatarText = document.createTextNode(element.user.name[0]);
			        avatarElement.appendChild(avatarText);
			        avatarElement.style['background-color'] = getAvatarColor(element.user.name);
			        // 아이콘 만들기
	
			        messageElement.appendChild(avatarElement);
	
			        var usernameElement = document.createElement('span');
			        var usernameText = document.createTextNode(element.user.name);
			        usernameElement.appendChild(usernameText);
			        messageElement.appendChild(usernameElement);
			        // username 띄우기
			    }
		    
		    
		    
			    var textElement = document.createElement('p');
			    var messageText = document.createTextNode(element.contents);
			    textElement.appendChild(messageText);
			    // 메시지 내용 띄우기
	
			    messageElement.appendChild(textElement);
	
			    messageArea.appendChild(messageElement);
			    
			    // 추가하고, 스크롤 제일 밑으로 내리기
	    	});
	    	messageArea.scrollTop = messageArea.scrollHeight;
		});
		
		if(sessionUser){
			name = sessionUser.name;
			var socket = new SockJS('/ws');
			stompClient = Stomp.over(socket);
		
			stompClient.connect({}, onConnected, onError);
		}

		var colors = [
		    '#2196F3', '#32c787', '#00BCD4', '#ff5652',
		    '#ffc107', '#ff85af', '#FF9800', '#39bbb0'
		];
		
		function connect(event) {
			stompClient.connect({}, onConnected, onError);
			event.preventDefault();
		}


		function onConnected() {
			chatrooms.forEach(function(element) {
				stompClient.subscribe('/topic/' + element.id, onMessageReceived);
			});
			connectingElement.classList.add("hidden");
		}

		function onError(error) {
			connectingElement.textContent = 'Could not connect to WebSocket server. Please refresh this page to try again!';
		    connectingElement.style.color = 'red';
		}
		
		function sendMessage(event) {
		    var messageContent = messageInput.value.trim();
		    
		    if(messageContent && stompClient) {
		        var chatMessage = {
		        	senderId: sessionUser.id,
		            sender: name,
		            content: messageInput.value,
		            type: 'CHAT',
		            roomId: currentRoomId
		        };
		        stompClient.send("/app/chat.sendMessage/" + currentRoomId, {}, JSON.stringify(chatMessage));
		        messageInput.value = '';
		    }
		    
		    event.preventDefault();
		}


		function onMessageReceived(payload) {
			// 받은 메시지를 해석해서 메시지 창에 나오는 HTML 소스 추가
		    var message = JSON.parse(payload.body);

		    var messageElement = document.createElement('li');
		    
		    
		    if(currentRoomId == message.roomId) {
		    	
			    if(message.type === 'JOIN') {
			        messageElement.classList.add('event-message');
			        message.content = element.contents + ' joined!';
			    } else if (message.type === 'LEAVE') {
			        messageElement.classList.add('event-message');
			        message.content = message.sender + ' left!';
			    } else {
			        messageElement.classList.add('chat-message');
	
			        var avatarElement = document.createElement('i');
			        var avatarText = document.createTextNode(message.sender[0]);
			        avatarElement.appendChild(avatarText);
			        avatarElement.style['background-color'] = getAvatarColor(message.sender);
			        // 아이콘 만들기
	
			        messageElement.appendChild(avatarElement);
	
			        var usernameElement = document.createElement('span');
			        var usernameText = document.createTextNode(message.sender);
			        usernameElement.appendChild(usernameText);
			        messageElement.appendChild(usernameElement);
			        // username 띄우기
			    }
		    
		    
		    
		    var textElement = document.createElement('p');
		    var messageText = document.createTextNode(message.content);
		    textElement.appendChild(messageText);
		    // 메시지 내용 띄우기

		    messageElement.appendChild(textElement);

		    messageArea.appendChild(messageElement);
		    messageArea.scrollTop = messageArea.scrollHeight;
		    // 추가하고, 스크롤 제일 밑으로 내리기
		    }
		}


		function getAvatarColor(messageSender) {
		    var hash = 0;
		    for (var i = 0; i < messageSender.length; i++) {
		        hash = 31 * hash + messageSender.charCodeAt(i);
		    }
		    var index = Math.abs(hash % colors.length);
		    return colors[index];
		    // 아바타 색 랜덤 지정
		}
		
		var messageForm = document.querySelector('#messageForm');
		messageForm.addEventListener('submit', sendMessage, true) 
		//]]></script>
		
		
</body>



</html>